body {
  font-family: "Iosevka-Fixed-SS09";
  background-color: #edebe9;
  position: relative;
  margin: 0;
}

#editorchrome {
  height: 60px;
  overflow: hidden;
}

#editorchrome h4 {
  text-align: center;
}

#img {
  display: block;
  margin: auto;
  height: 128px;
  width: 128px;
  padding: 2rem;
}

#pointer-local,
#pointer-remote {
  position: absolute;
  left: 0;
  top: 0;
  background-color: silver;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

#pointer-remote {
  background-color: green;
  width: 5px;
  height: 5px;
}

iframe {
  border: 1px dotted silver;
  border-top: 2px solid #535f71;
  width: 100%;
  height: calc(100vh - 100px);
}
